/*general*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*padding w border my2asar4 fe elwidth*/
}
body {
  font-family: "PT Sans", sans-serif;
}
:root {
  --mainColor: #7b5244;
  --subColor: #333;
}

.container {
  width: 80%;
  margin: auto;
}
a {
  text-decoration: none;
}
.list-unstyled {
  list-style: none;
}
.section-padding {
  padding: 40px 0;
}
.section-header {
  text-align: center;
  margin-bottom: 25px; /*t7t eltitle*/
}
.section-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.section-header .line {
  /*hat line ele gowa elheader*/
  display: block;
  width: 100px;
  margin: auto;
  background: var(--mainColor);
  height: 2px;
  transition: width 0.5s;
}
.section-header:hover .line {
  width: 150px;
}
/*header*/
header {
  padding: 30px 0;
}
header .header-content {
  display: flex; /*34an yego ganb b3d logo  w li*/
  justify-content: space-between;
}
.header-content img {
  flex: 1;
  max-width: 170px;
}
.header-content nav {
  flex: 3;
  text-align: center;
}
.header-content ul .login {
  flex: 1;
  text-align: right;
}
.header-content ul li {
  display: inline-block;
}
.header-content ul li,/*ICONS*/
.header-content ul li a/*LINKAT */ {
  color: var(--subColor);
}
.header-content nav ul li .link-item {
  padding: 10px 24px;
  display: block;
  font-weight: bold;
  position: relative;
}
.header-content nav ul li .link-item:before,
.header-content nav ul li .link-item:after {
  content: "";
  position: absolute;
  border-color: var(--mainColor);
  border-style: solid;
  top: 0;
  left: 0;
  transition: transform 0.2s;
}
.header-content nav ul li .link-item:before {
  border-width: 0 2px;
  width: 98%; /*34an myb2a4 fe fara8 ben elyemen w el4mal m3 ele fo2*/
  transform: scale3d(
    1,
    0,
    1
  ); /*34an y5tefe width w height*/ /*msh byzhar mn mkano f asta5dm el 3d w a7ot qemet el z b 1 34an tb2a nsabetahom mn ymen w el4mal*/
  /*7att el y b 0 34an myb2a4 zaher*/ /*BL3B 3LA ELHEIGHT*/
  height: 100%;
}

.header-content nav ul li .link-item:hover:before {
  transform: scale3d(1, 1, 1);
}
.header-content nav ul li .link-item:after {
  border-width: 2px 0; /*3aks ele fo2 34an tban fo2 w t7t msh ymen w 4mal*/
  width: 100%;
  height: 91%; /*34an myb2a4 fe fara8 ben elyemen w el4mal m3 ele fo2*/
  transform: scale3d(
    0,
    1,
    1
  ); /*34an y5tefe width w height*/ /*msh byzhar mn mkano f asta5dm el 3d w a7ot qemet el z b 1 34an tb2a nsabetahom mn ymen w el4mal*/
  /*7att el y b 0 34an myb2a4 zaher*/
  transform-origin: left; /*bt7dd elmkan ele yt7rk mno*/
}
.header-content nav ul li .link-item:hover:after {
  transform: scale3d(1, 1, 1);
  transition-delay: 0.2s; /*ystna sanyten 34an ele fo2 w t7t yzhar mt25r 3n ele yemen w el4mal*/
}

.header-content .login ul li {
  padding: 10px;
  font-weight: bold;
}
.header-content .login ul li:last-child i {
  /*hat el li ela5era hat mnha el i*/
  position: relative;
  margin-right: 10px;
}
.header-content .login ul li:last-child i::after {
  /*hat el li ela5era hat mnha el i*/
  position: absolute;
  content: "0";
  background: var(--mainColor);
  color: #fff;
  bottom: 0;
  right: -11px;
  border-radius: 50%;
  padding: 4px;
  font-size: 13px;
}
/*dropdown*/
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  width: 450px;
  border: 2px solid var(--mainColor);
  padding: 15px;
  margin-top: 5px;
  background: #fff;
  transform: scale(0); /*ka2ene 5afeha 5ales wlma tezhr tezhr mn wara kda*/
  visibility: hidden; /*34an lma a3ml refresh mtt3ml4 ka2ene we2eft 3leha*/
  opacity: 0; /*34an mykon4 zaher*/
  transition: transform 0.4s, visibility 0.4s, opacity 0.4s; /*tban bra7a*/
}
.dropdown:hover .dropdown-menu {
  /*lma a4awr 3la dropdown hat dropdown menu w e3ml dh*/
  transform: scale(1); /*tban*/
  visibility: visible;
  opacity: 1;
}
.dropdown-menu ul {
  display: table-cell; /*bte3ml 4akl elgadwal*/
  text-align: left;
}
.dropdown-menu ul li:first-child a {
  border-bottom: 1px dotted var(--mainColor);
  display: block;
  margin-bottom: 10px;
}
.dropdown-menu ul li {
  line-height: 1.7;
}
/*slider*/
section.slider img {
  /*ele wa5d class slider*/
  width: 100%; /*5ale elwidth 100% mn parent bta3ha 34an mtb2a4 kebera awyy kda*/
}
.bollets {
  text-align: center;
  list-style: none;
}
.bollets li {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 50%;
  margin: 10px 5px;
  transition: background-color 0.2s;
}
.bollets li.active {
  /*li ele wa5da class active*/
  background: var(--mainColor);
}
.bollets li:hover {
  background-color: var(--mainColor);
}
/*category*/
.category-items {
  display: grid;
  grid-template-columns: auto auto auto auto; /*kolohom tganb b3d f 4 columns mmkn a3ml repeat(4,1fr)*/
  grid-gap: 10px; /*msafat behom yni elawel y3ml mn elyemen bs*/
}
.category-item {
  position: relative;
}
.category-item img {
  width: 100%; /*100% mn elmsa7a ele hya gowaha*/
  margin-bottom: 25px;
}
.category-item-subtitle {
  color: gray;
  font-weight: normal;
}
.category-item .icon {
  width: 40px;
  height: 40px;
  background: var(--mainColor);
  color: #fff;
  text-align: center;
  display: block;
  line-height: 40px; /*nafs 7agm elheight 34an ttwstn bltool*/
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
.category-item:hover .icon {
  visibility: visible;
  opacity: 1;
}
/*discount*/
.discount {
  margin: 30px 0;
  display: flex;
}
.discount-desc {
  flex: 2;
  background: #f7f3ef;
  padding: 20px;
  position: relative;
}
.discount-desc .top {
  position: relative;
  padding-left: 60px;
 margin-bottom: 20px;
}
.discount-desc .top .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 50px;
  color: var(--mainColor);
}
.discount-desc .top + p {
  /*y3ni hat el p ele b3deh*/
  line-height: 1.7;
}
.discount-desc .bolllets{
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.discount-desc .bolllets span{
  display: inline-block;
  width: 50px;
  height: 2px;
  background: var(--mainColor);
  margin-left: 10px;
}
.discount-item {
  flex: 1;
  height: 300px;
  position: relative;
}
.discount-item-info {
  position: absolute;
  top: 20px;
  left: 15px;
}
.discount-item-info h3{
  font-weight: normal;
  color: var(--mainColor);
}
.discount-item-info h2{
  font-size: 20px;
}
.discount-item:nth-child(2),
.discount-item:nth-child(3) {
  background-size: cover;
  transition: transform 0.2s;
}

.discount-item:nth-child(2){
  background-image: url("../images/cms-banner-1.jpg");
  margin: 0 20px ;
}

.discount-item:nth-child(3){
  background-image: url("../images/cms-banner-2.jpg");
}

.discount-item:nth-child(2):hover,
.discount-item:nth-child(3):hover{
  transform: scale(1.1);/*hydrb 1.1 fe width w height*/
}

.discount-item:nth-child(3) {
  background-image: url("../images/cms-banner-2.jpg");
  background-size: cover;
}
/*sprites*/
.sprites{
  display: flex;
  margin-bottom: 55px;
}
.sprite-item{
flex: 1;
text-align: center;
border-right: 1px solid var(--mainColor);
}
.sprite-item:last-child{
  border: 0;
}
.sprite-icon{
  background-image: url("../images/service-icon.png");
  height: 55px;
  background-repeat: no-repeat;
}
.sprite-icon-1{
  background-position: center 5px;/*x,y elsora tawela f bt7km bltool(y) */
  transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-1{/*lma a3ml hover 3leh hat el...*/
  background-position: center -86px;/*elrakam eltani ele y5ale elsora ele b3deha tban*/
}
.sprite-icon-2{
  background-position: center -180px;/*x,y*/
  transition: all 0.5s;

}
.sprite-item:hover .sprite-icon-2{/*lma a3ml hover 3leh hat el...*/
  background-position: center -273px;/*elrakam eltani ele y5ale elsora ele b3deha tban*/
}
.sprite-icon-3{
  background-position: center -366px;/*x,y*/
  transition: all 0.5s;

}
.sprite-item:hover .sprite-icon-3{/*lma a3ml hover 3leh hat el...*/
  background-position: center -455px;/*elrakam eltani ele y5ale elsora ele b3deha tban*/
}
.sprite-icon-4{
  background-position: center -549px;/*x,y*/
  transition: all 0.5s;

}
.sprite-item:hover .sprite-icon-4{/*lma a3ml hover 3leh hat el...*/
  background-position: center -639px;/*elrakam eltani ele y5ale elsora ele b3deha tban*/
}
.sprite-icon-5{
  background-position: center -734px;/*x,y*/
  transition: all 0.5s;

}
.sprite-item:hover .sprite-icon-5{/*lma a3ml hover 3leh hat el...*/
  background-position: center -826px;/*elrakam eltani ele y5ale elsora ele b3deha tban*/
}
.sprite-info h3{
  font-size: 17px;
}
.sprite-info span{
  color: gray;
  font-size: 15px;
}
/*products*/
.products{

}
.list-products{
   display: flex;
  justify-content: center; 
}
.list-products li{
  margin: 10px 20px;
}
.products-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  margin: 30px 0;
}
.product-img{
  position: relative;
}
.product-overlay{
  position: absolute;/*yb2a foo2 elsora*/
  top: 0;
  left: 0;/*34an elsora ttle fo2 elsora*/
  transform: scalex(0);/*34an mykon4 zaher w yzhr kla2ene bfta7 ktab*/
  transition: transform 0.2s;
}
.product-overlay ul{
  position: absolute;/*yb2a foo2 elsora*/
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.product-overlay ul li{
  width: 40px;
  height: 40px;
  background: var(--mainColor);
  display: inline-block;
  text-align: center;/*34an elicon ttwstn gowa elmoraba3 hz*/
}
.product-overlay ul li i{
  color: #fff;
  line-height: 40px;/*34an elicon ttwstn gowa elmoraba3 vl*/
}
.product-item:hover .product-overlay{
  transform: scalex(1);/*yzhr.....lw 3mltha scaley yzhr 2flt ktab mn fo2 lta7t*/
}
.product-info i.active{/*ay i wa5da class active gowa product-item*/
  color: yellow;
}
.product-info i{
  margin-top: 10px; 
}
.product-info span{
  display: block;
  margin: 5px 0;
}